
body {
 
 background-color: #ebc0f0;
 color: #7b898c;
 font-size: 30px;
}
h1 {
  color: #0e08bf;
  text-align: center;
}
h2 {
  color: #35c2e6;
}
table, th, td {
  border: 1px solid black;
}